<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>firstWebProject</display-name>
 
 
    <servlet>
  <servlet-name>submit</servlet-name>
  <servlet-class>com.codeo.formsubmit.Formsubmit</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>submit</servlet-name>
  <url-pattern>/details</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
  <servlet-name>login</servlet-name>
  <servlet-class>com.codeo.formsubmit.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/submitLoginDetails</url-pattern>
    </servlet-mapping>
    
     <servlet>  
  <servlet-name>form</servlet-name>
  <servlet-class>com.codeo.formsubmit.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>form</servlet-name>
  <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>Templates</servlet-name>
    <servlet-class>com.codeo.webtemplate.WebTemplate</servlet-class> 
    </servlet>
    <servlet-mapping>
    <servlet-name>Templates</servlet-name>
     <url-pattern>/templatedetail</url-pattern>
    </servlet-mapping>
  
 
</web-app>


