<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FirstServlet</servlet-name>
  	<display-name>FirstServlet</display-name>
  	<description></description>
  	<servlet-class>com.codeo.SessionHandlingUsingHiddenForm.FirstServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SecondServlet</servlet-name>
  	<display-name>SecondServlet</display-name>
  	<description></description>
  	<servlet-class>com.codeo.SessionHandlingUsingHiddenForm.SecondServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ThirdServlet</servlet-name>
  	<display-name>ThirdServlet</display-name>
  	<description></description>
  	<servlet-class>com.codeo.SessionHandlingUsingHiddenForm.ThirdServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>first</servlet-name>
  	<display-name>first</display-name>
  	<description></description>
  	<servlet-class>com.codeo.practice.first</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>firstproj</servlet-name>
  	<display-name>firstproj</display-name>
  	<description></description>
  	<servlet-class>com.codeo.servletproj.firstproj</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Secondproj</servlet-name>
  	<display-name>Secondproj</display-name>
  	<description></description>
  	<servlet-class>com.codeo.servletproj.Secondproj</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ThirdProj</servlet-name>
  	<display-name>ThirdProj</display-name>
  	<description></description>
  	<servlet-class>com.codeo.servletproj.ThirdProj</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FirstS</servlet-name>
  	<display-name>FirstS</display-name>
  	<description></description>
  	<servlet-class>com.codeo.UsingCookies.FirstS</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsingCookie</servlet-name>
  	<display-name>UsingCookie</display-name>
  	<description></description>
  	<servlet-class>com.codeo.Cookies.UsingCookie</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SecondCooies</servlet-name>
  	<display-name>SecondCooies</display-name>
  	<description></description>
  	<servlet-class>com.codeo.Cookies.SecondCooies</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SecondServlet</servlet-name>
  	<url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThirdServlet</servlet-name>
  	<url-pattern>/ThirdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>first</servlet-name>
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>firstproj</servlet-name>
  	<url-pattern>/firstproj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Secondproj</servlet-name>
  	<url-pattern>/Secondproj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThirdProj</servlet-name>
  	<url-pattern>/ThirdProj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FirstS</servlet-name>
  	<url-pattern>/FirstS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsingCookie</servlet-name>
  	<url-pattern>/UsingCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SecondCooies</servlet-name>
  	<url-pattern>/SecondCooies</url-pattern>
  </servlet-mapping>
</web-app>
